/*
grid.scss
Grid settings
*/

// Grid variables
$gutter: 2em;

* {
	box-sizing: border-box;
}

.row {
	width: auto;
	overflow: hidden;
	margin: $gutter/2 0;
}

.grid {
	padding: 0 $gutter/2;
}

@media (min-width: 768px){
.grid {
	float: left;
}

.grid-3 { width: calc(100%/4); }
.grid-4 { width: calc(100%/3); }
}